<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ManOpen</string>
			<key>CFBundleTypeName</key>
			<string>unknown</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).ManDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>apropos</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).AproposDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>man</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ManOpen</string>
			<key>CFBundleTypeName</key>
			<string>man</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).ManDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ManOpen</string>
			<key>CFBundleTypeName</key>
			<string>cat</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).ManDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>man.gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ManOpen</string>
			<key>CFBundleTypeName</key>
			<string>mangz</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).ManDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cat.gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ManOpen</string>
			<key>CFBundleTypeName</key>
			<string>catgz</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).ManDocument</string>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string>ManOpen $(MARKETING_VERSION) © 2012 Carl Lindberg, 2010 Jan Weiß</string>
	<key>CFBundleSignature</key>
	<string>MnOp</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Man Page URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-man-page</string>
			</array>
		</dict>
	</array>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSExecutable</key>
			<string>ManOpen</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open File in ManOpen</string>
			</dict>
			<key>NSMessage</key>
			<string>openFiles</string>
			<key>NSPortName</key>
			<string>ManOpen</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.file-url</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>NSServiceDescription</key>
			<string>Opens the selected man page</string>
		</dict>
		<dict>
			<key>NSExecutable</key>
			<string>ManOpen</string>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>M</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open man Page in ManOpen</string>
			</dict>
			<key>NSMessage</key>
			<string>openSelection</string>
			<key>NSPortName</key>
			<string>ManOpen</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSServiceDescription</key>
			<string>Opens the man page matching the selected text</string>
		</dict>
		<dict>
			<key>NSExecutable</key>
			<string>ManOpen</string>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>A</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Search man Page Index in ManOpen</string>
			</dict>
			<key>NSMessage</key>
			<string>openApropos</string>
			<key>NSPortName</key>
			<string>ManOpen</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSServiceDescription</key>
			<string>Tries to find a man page matching the selected text using aproopos</string>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>ManOpen.sdef</string>
</dict>
</plist>
